// *************************************
//
//   Buttons
//   -> Hyperlink <a> and form <button> buttons
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.btn
  a&
    text-decoration: none
    border: none