// *************************************
//
//   Buttons
//   -> Hyperlink <a> and form <button> buttons
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

input,
select,
textarea
  margin 10px auto
  padding 1rem
  width 100%
  height auto
  display block
  font 18px proxima-nova
  background transparent
  border 2px solid
  outline none
  transition all 400ms

input:focus::-webkit-input-placeholder
  opacity .6
input:focus:-moz-placeholder
  opacity .6
input:focus::-moz-placeholder
  opacity .6
input:focus:-ms-input-placeholder
  opacity .6

textarea:focus::-webkit-input-placeholder
  opacity .6
textarea:focus:-moz-placeholder
  opacity .6
textarea:focus::-moz-placeholder
  opacity .6
textarea:focus:-ms-input-placeholder
  opacity .6