!!!
html
  head
    title= site_title
    //- META
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= 'author of the site')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- CSS
    link(rel='stylesheet', href='assets/css/app.css')
    //- TYPEKIT
    script(src='//use.typekit.net/irc8jtw.js')
    script.
      try{Typekit.load();}catch(e){}

  body

    |<!--[if lt IE 7]>
    p.chromeframe
      | You are using an
      strong outdated
      | browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      | or
      a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
      | to improve your experience.
    <![endif]-->

    header.mast
      a.logo(href='#top')
        img(src='assets/img/logo.svg', alt='Good Citizen')
      .js-menu-trigger
        span Menu
      nav.nav.nav-primary
        ul
          li
            a.nav-what(href='#what') What <span>we do for you</span>
          li
            a.nav-how(href='#how') How <span>we do it</span>
          li
            a.nav-who(href='#who') Who <span>we are</span>
      nav.nav.nav-secondary
        ul
          li
            a.nav-work-together(href='#work-together') Let's work together
          li
            a.nav-coffee(href='http://twitter.com/share?text=Hey%20@thegoodcitizens,%20lets%20chat%20over%20coffee', target='_blank') Let's just grab a coffee

    nav.nav.nav-smallscreen
      .js-menu-trigger
        span Close
      ul
        li
          a.nav-what(href='#what') What <span>we do for you</span>
        li
          a.nav-how(href='#how') How <span>we do it</span>
        li
          a.nav-who(href='#who') Who <span>we are</span>
        li
          a.nav-work-together(href='#work-together') Let's work together
        li
          a.nav-coffee(href='http://twitter.com/share?text=Hey%20@thegoodcitizens,%20lets%20chat%20over%20coffee', target='_blank') Let's just grab a coffee

    != yield

    footer.footer
      p &copy;2k14 Good Citizen

    //- JS
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').
    script(src='assets/js/fastclick.js').
    script(src='assets/js/parsley.min.js').
    script(src='assets/js/app.js').
