main.main
  section.hero
    img.hero-logo(src='assets/img/logo.svg', alt='Good Citizen')
    h1.hero-title We create compelling digital experiences that put people first.
    p.hero-tagline
      | See
      a(href='#') what
      |  we can do for you,
      a(href='#') how
      |  we go about doing it, and
      a(href='#') who
      |  you would be working with.
  section.content
    :markdown
      ## What do we do?
      Well, we love creating digital products and servces that people enjoy and that solve real-world problems.
      Obviously, we're into technology, we wouldn't be able to creating engaging new experiences if we weren't, but we love people.
      People are the most important part of what we do, because we're here to solve problems for humans.
      ### Portfolio
      Here's a few examples of our work, we can't show you everything we've done because we often work under NDA. We can say that last year we launched more than 50 projects.
      ## How do we do it?
      #### We do it Together
      We're solving problems and creating products for you, so we want to know how you think, how you work, and what you need. So, communication is key, we're going to ask a lot of questions, so that we can deliver what you need even if its not what you expected.
      #### We do it Content First.
      Our web products are designed to be effective. We're here to help you communicate to your audience. So, we shape designs around the what you are communicating, your content.
      #### We do it Mobile First.
      Smartphone and tablets are quickly dominating the internet, so we design and build products that look and work great no matter what device you're using.
      # Hi, we'd love to buy you a coffee
      We're a digital studio in North Carolina, focusted on meeting our clients needs in ways they don't expect.


  form(action="http://forms.wearegoodcitizen.com/contact/new" method="post")
        input.formup-delta(type="text", name="firstname", value="", placeholder="First Name")
        input.formup-delta(type="text", name="lastname", value="", placeholder="Last Name")
        input.formup-delta(type="text", name="job", value="", placeholder="Job")
        input.formup-delta(type="text", name="company", value="", placeholder="Company")
        input.formup-delta(type="text", name="email", value="", placeholder="Email")
        input.formup-delta(type="text", name="phone", value="", placeholder="Phone Number")
        select.select-select.budget(name="budget")
          option(value="$2k-$5k") $2k-$5k
          option(value="$5k-$10k") $5k-$10k
          option(value="$10k-$20k") $10k-$20k
          option(value="$20k+") $20k+
          option(value="Not Sure") Not Sure

        input.formup-delta.pname(type="text", name="subject", value="", placeholder="Project Name")
        div
          textarea.formup-delta.message(type="text", name="message", value="", placeholder="Message")
        input.button.large(type="submit", value="Submit")
