section.hero
  img.hero-logo(src='assets/img/logo.svg', alt='Good Citizen')
  h1.hero-title We create compelling digital experiences that put people first.
  p.hero-tagline See <a href="#what">what</a> we can do for you, <a href="#how">how</a> we go about it, and <a href="who">who</a> you would work with.

img.pic-divider.pic-divider-1(src='assets/img/pic-1.jpg')

section#what.content.content-what
  h2 What do we do?
  p We get asked this a lot. Single taglines and elevator statements can sound hollow and contrived. So here is the longer explanation…
  p Good Citizen is a digital <em style="color: rgba(0,0,0,.3);">(design and development)</em> studio.
  p We love creating digital products and services that people enjoy and that solve real-world problems. Obviously, we're into design and technology, we wouldn't be able to create engaging new experiences if we weren't, but we love people. People are the most important part of what we do, because we're here to solve problems for humans. By focusing on strategy, design, and technology, we create experiences that meet the needs of our clients, and their customers, in ways that are delightful and unexpected.
  .services
    h3 Services
    .row
      .service-list.column.one-third
        h5 Strategy
        ul
          li Digital Strategy
          li Product Strategy
          li Content Strategy
          li Competitive Audit
          li User Research
          li Email Marketing
          li Analytics &amp; Measurement
      .service-list.column.one-third
        h5 Design
        ul
          li User Experience Design
          li Information Architecture
          li Interface Design
          li Multi-device Web Design (Responsive)
          li Interactive Prototyping
          li Email Design
          li Brand Identity
      .service-list.column.one-third
        h5 Development
        ul
          li Front-end &amp; Back-end Website Development
          li Web Application Development
          li Content Management Systems
          li E-commerce Systems
          li Email Campaign Systems
  .portfolio
    .row
      h3 Portfolio
      p Here's a few examples of our work, we can't show you everything we've done because we often work under NDA. We can say that last year we launched more than 50 projects.
      each item, slug in public.portfolio._data
        a.portfolio-item(href="#{ item.project_url }", target="_blank")
          img(src="#{ item.img_url }")
          .portfolio-info
            h5 #{ item.title }
            h6 #{ item.description }
            p View project &rarr;

img.pic-divider.pic-divider-2(src='assets/img/pic-2.jpg')

section#how.content.content-how
  :markdown
    ## How do we do it?
    ### We do it Together
    We're solving problems and creating products for you and your customers, so we want to know how you think, how you work, and what you need. So, communication is key. We're going to ask a lot of questions, so that we can deliver what you need even if its not what you expected. Unlike a traditional agency, we don’t silo our strategists from the designers, from the developers. Everyone, including you, is creative. Every discipline contributes to the process of designing the best solution, and we do that in an iterative fashion that allows us to stay put until that solution comes to light.
    ### We do it Content First.
    Our web products are designed to be effective. We're here to help you communicate to your audience. So, we shape designs around what you are communicating, your content. Content-first is more than just gathering and creating your content first, it puts the content on center stage. We strategize, design and develop around that primary thing that your customers are coming for.
    ### We do it Future Friendly
    Smartphones and tablets are quickly dominating the internet, but there is no longer the guarantee that we will know exactly what type of device people are using to access your content. So we design and build products that look and work great no matter what device you're using.
    ### We do it Iteratively
    Gone are the days when designers locked themselves away to do their thing and then tossed it over the wall for the developers to &ldquo;make it happen&rdquo;. Great design is the differentiator in any successful product or service and design is the work that we all do together. Great design is not just what you see, but the result of constant iteration and evolution. We use things like [element collages](http://danielmall.com/articles/rif-element-collages/), [style tiles](http://styletil.es/), [style prototypes](http://sparkbox.github.io/style-prototype/), moodboards, and [visual inventories](http://danielmall.com/articles/visual-inventory/), [project hubs](http://project-hub.superfriend.ly/), [atomic design patterns](http://patternlab.io/), and [wireframe prototypes](http://jdcauley.github.io/Fifth-Letter-Website/www/) in order to work out the details and find the best solution.

img.pic-divider.pic-divider-3(src='assets/img/pic-3.jpg')

section#who.content.content-who
  :markdown
    ## Who we are

section#work-together.content.content-work-together
  :markdown
    ## Hi, we'd love to work together, or just connect.
  .form-fail
    :markdown
      ### Oops!
      Something went wrong.
  .form-wrap
    form#project-planner(action="http://forms.wearegoodcitizen.com/contact/new" method="post")
      input(type="text", name="name", value="", placeholder="Your Name")
      input(type="text", name="email", value="", placeholder="Email")
      input(type="text", name="phone", value="", placeholder="Phone Number")
      textarea(type="text", name="message", value="", placeholder="Message")
      select(name="budget")
        option(value="$2k-$5k") $2k-$5k
        option(value="$5k-$10k") $5k-$10k
        option(value="$10k-$20k") $10k-$20k
        option(value="$20k+") $20k+
        option(value="Not Sure") Not Sure
      input(type="submit", value="Submit")
  .form-success
    :markdown
      ### Thanks
      We look forward to speaking with you soon.
