// *************************************
//
//   Application
//
// *************************************

// -------------------------------------
//   Core
// -------------------------------------

@import 'core/_reset'
@import 'core/_settings'
@import 'core/_helpers'
@import 'core/_base'
@import 'core/_content'
@import 'core/_layout'

// -------------------------------------
//   Modules - aka Molecules
// -------------------------------------

@import 'modules/_nav'
@import 'modules/_button'
// @import 'modules/_form'
// @import 'modules/_tabs'
// @import 'modules/_breadcrumbs'

// -------------------------------------
//   Inbox
// -------------------------------------

// Extras

@import 'extend/_select'

input,
select,
textarea,
.select-target.select-theme-default
  display block
  height auto
  width 90%
  padding 10px
  margin 10px auto
  font-size: 16px
  background transparent
  border 2px solid #dce4ec
  border-radius 4px
  transition border-color 400ms
