// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
//   Extends
// -------------------------------------

// ----- Debug ----- //

debug
  background-color: pink !important

// ----- Ellipsis ----- //

ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// ----- Clearfix ----- //

group
  &:after
    clear: both
    content: ''
    display: table

// ----- Image Replacement ----- //

ir
  background-color: transparent
  border: 0
  overflow: hidden
  &:before
    content: ''
    display: block
    width: 0
    height: 150%

// -------------------------------------
//   Functions
// -------------------------------------


// -------------------------------------
//   Mixins
// -------------------------------------

rem($size = base-font-size)
  font-size: $size
  font-size: ($size / base-font-size) rem

// -------------------------------------
//   Animations
// -------------------------------------

