// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ...

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

gray-darker     = #333
gray-dark       = #666
gray            = #999
gray-light      = #ddd
gray-lighter    = #f1f1f1
white           = #fff
black           = #272727

// ----- Brand Colors ----- //

brand-gray            = #272727
brand-primary            = #02ce85
brand-red             = #EF4135
brand-primary         = brand-primary
brand-warning         = #f0ad4e

// ----- Base Content ----- //

helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Courier New', Courier, Consolas, monospace")
verdana = Verdana, Geneva, sans-serif
gotham = "Gotham", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
merriweather = "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif
proxima = "proxima-nova", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
tisa = "ff-tisa-web-pro", Georgia, Cambria, "Times New Roman", Times, serif

base-background = white
base-font-stack = tisa
base-font-size = 16px
base-line-height = 1.5
base-color = brand-gray
base-link-color = base-color

header-font-stack = proxima
header-font-weight = 900

// ----- Base Layout ----- //

base-whitespace = 20px

// ----- Content ----- //


// ----- Layout ----- //

// ----- MQ Variables ----- //
medium = "all and (min-width: 43.75em)"
large = "all and (min-width: 75em)"
