// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html
  font-size: base-font-size

body
  font-family: base-font-stack
  font-size: 100%
  line-height: base-line-height
  color: base-color
  background: base-background

// -------------------------------------
//   Block Content
// -------------------------------------

p
  rem(base-font-size)

// -------------------------------------
//   Inline Content
// -------------------------------------

a
  color: base-link-color
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: underline

// -------------------------------------
//   Forms
// -------------------------------------

::-webkit-input-placeholder
  color brand-gray-light
:-moz-placeholder
  color brand-gray-light
::-moz-placeholder
  color brand-gray-light
:-ms-input-placeholder
  color brand-gray-light