// *************************************
//
//   Helpers
//   -> Extends, Functions, Mixins, Animations
//
// *************************************

// -------------------------------------
//   Extends
// -------------------------------------

// ----- Debug ----- //

$debug
  background-color: pink !important

// ----- Ellipsis ----- //

$ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

// ----- Clearfix ----- //

$group
  &:after
    clear: both
    content: ''
    display: table

// ----- Image Replacement ----- //

$ir
  background-color: transparent
  border: 0
  overflow: hidden
  &:before
    content: ''
    display: block
    width: 0
    height: 150%

// -------------------------------------
//   Functions
// -------------------------------------

// ----- rem ----- //

$font-size($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
  font-size   $fontValue px
  font-size   ($fontValue / $baseFontValue) rem
  // line-height ($fontValue / $baseFontValue) * $baseLineValue
  // line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem

// -------------------------------------
//   Mixins
// -------------------------------------


// -------------------------------------
//   Animations
// -------------------------------------

