// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

// ...

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

red = #B44326
orange = #F2A34F
yellow = #F8CA5C
green = #7FC028
light-blue = #52D7FE
blue = #00a6fc
purple = #8E48C2
white = #fff
black = #272727

// ----- Brand Colors ----- //

brand-gray-darker     = #333
brand-gray-dark       = #666
brand-gray            = #999
brand-gray-light      = #ddd
brand-gray-lighter    = #f1f1f1
brand-blue            = #001588
brand-blue-light      = #2c99db
brand-red             = #dc0031

// ----- Base Content ----- //

helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
verdana = Verdana, Geneva, sans-serif
gotham = "Gotham", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
merriweather = "Merriweather", Georgia, Cambria, "Times New Roman", Times, serif

base-background = white
base-font-stack = merriweather
base-font-size = 16
base-line-height = (base-font-size*1.5)
base-color = brand-gray-dark
base-link-color = base-color

header-font-stack = base-font-stack
header-font-weight = normal

// ----- Base Layout ----- //


// ----- Content ----- //


// ----- Layout ----- //

